pipeline/FileETL.json
{
	"name": "FileETL",
	"properties": {
		"activities": [
			{
				"name": "Audit Process Log Insert",
				"description": "Initial a process main and get a process log id",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GetInboundFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "[audit].[ProcessLogInsert]",
						"storedProcedureParameters": {
							"ProcessName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"ProcessRunID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"ProcessTriggerID": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"Status": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.StatusRunning",
									"type": "Expression"
								}
							},
							"AdfProcessLogID": {
								"type": "Int",
								"value": {
									"value": "@pipeline().parameters.AdfProcessLogID",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "JBHIFI",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Audit Process Log Complete",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load Files Main",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Load Files Pricing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[ProcessLogUpdate]",
					"storedProcedureParameters": {
						"ProcessLogID": {
							"value": {
								"value": "@int(variables('ProcessLogID'))",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Status": {
							"value": {
								"value": "@pipeline().parameters.StatusComplete",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "JBHIFI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ProcessLogID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Audit Process Log Insert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ProcessLogID",
					"value": {
						"value": "@{activity('Audit Process Log Insert').output.firstRow.ProcessLogID}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetInboundFiles",
				"description": "Check files exist",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "JBHIFIInbound",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@if(equals(pipeline().parameters.CallingPipeLineName, 'ProcessMain'), 'jbhifi-main', 'jbhifi-pricing')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "LogFileDetail",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ProcessLogID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetInboundFiles').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "GetInboundFileInfo",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "JBHIFIInboundFileZip",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										},
										"delimiter": "|",
										"quotecharacter": "\"",
										"container": {
											"value": "@if(equals(pipeline().parameters.CallingPipeLineName, 'ProcessMain'), 'jbhifi-main', 'jbhifi-pricing')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName",
									"lastModified",
									"size"
								]
							}
						},
						{
							"name": "FileSize Greater than 0",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetInboundFileInfo",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('GetInboundFileInfo').output.size, 0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Delete 0 size file",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "JBHIFIInboundFile",
												"type": "DatasetReference",
												"parameters": {
													"filename": {
														"value": "@activity('GetInboundFileInfo').output.itemName",
														"type": "Expression"
													},
													"delimiter": "|",
													"container": {
														"value": "@if(equals(pipeline().parameters.CallingPipeLineName, 'ProcessMain'), 'jbhifi-main', 'jbhifi-pricing')",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false
										}
									}
								]
							}
						},
						{
							"name": "Load files",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GetInboundFileInfo",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[audit].[InsertFilesToLoad]",
								"storedProcedureParameters": {
									"Datemodified": {
										"value": {
											"value": "@activity('GetInboundFileInfo').output.lastModified",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"FileName": {
										"value": {
											"value": "@activity('GetInboundFileInfo').output.itemName",
											"type": "Expression"
										},
										"type": "String"
									},
									"FileType": {
										"value": "Daily",
										"type": "String"
									},
									"FolderPath": {
										"value": {
											"value": "@if(equals(pipeline().parameters.CallingPipeLineName, 'ProcessMain'), 'jbhifi-main', 'jbhifi-pricing')",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessLogID": {
										"value": {
											"value": "@variables('ProcessLogID')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Size": {
										"value": {
											"value": "@activity('GetInboundFileInfo').output.size",
											"type": "Expression"
										}
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "JBHIFI",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "GetFilesReadyForProcess",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LogFileDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "SELECT ProcessLogID,\n       FilesToLoadID,\n       FileName,\n       TargetTable,\n       PreProcessSP,\n       PostProcessSP,\n       FileType,\n       Folder,\n       WorkingFolder,\n       ArchiveFolder,\n       IsZip,\n       SourceFilesControlID,\n\t   delimiter,\n\t   QuoteCharacter\nFROM [ETL].[vw__FilesReadyForLoad]\nWHERE ProcessLogID = @{variables('ProcessLogID')} and ProcessName = '@{pipeline().parameters.CallingPipeLineName}'\norder BY FilesToLoadID, FileName",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "JBHIFI",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Audit Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Audit Process Log Complete",
						"dependencyConditions": [
							"Skipped"
						]
					},
					{
						"activity": "Audit Process Log Insert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[ProcessLogUpdate]",
					"storedProcedureParameters": {
						"ProcessLogID": {
							"value": {
								"value": "@int(variables('ProcessLogID'))",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "JBHIFI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Fail pipleline",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Audit Failed",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select 1/0",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "JBHIFI",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Load Files Main",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "GetFilesReadyForProcess",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LoadFileMain",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"FIles": {
							"value": "@activity('GetFilesReadyForProcess').output.value",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Load Files Pricing",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "GetFilesReadyForProcess",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LoadFilePricing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"FIles": {
							"value": "@activity('GetFilesReadyForProcess').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"StatusRunning": {
				"type": "String",
				"defaultValue": "Running"
			},
			"StatusReady": {
				"type": "String",
				"defaultValue": "Ready"
			},
			"StatusComplete": {
				"type": "String",
				"defaultValue": "Completed"
			},
			"AdfProcessLogID": {
				"type": "int",
				"defaultValue": -1
			},
			"CallingPipeLineName": {
				"type": "string"
			}
		},
		"variables": {
			"ProcessLogID": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}