pipeline/GenreRange.json
{
	"name": "GenreRange",
	"properties": {
		"activities": [
			{
				"name": "ForEach ID to be loaded",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Data To Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Data To Process').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Audit Loading",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlSource",
									"sqlReaderStoredProcedureName": "[audit].[DataLoadHistoryInsert]",
									"storedProcedureParameters": {
										"FileName": {
											"type": "String",
											"value": {
												"value": "@item().FileName",
												"type": "Expression"
											}
										},
										"FileETLID": {
											"type": "Int32",
											"value": {
												"value": "@item().FileETLID",
												"type": "Expression"
											}
										},
										"ProcessLogID": {
											"type": "Int32",
											"value": {
												"value": "@int(pipeline().parameters.ProcessLogID)",
												"type": "Expression"
											}
										},
										"Status": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.StatusRunning",
												"type": "Expression"
											}
										},
										"FileType": {
											"type": "String",
											"value": "Genre Range"
										}
									}
								},
								"dataset": {
									"referenceName": "JBHIFI",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Staging Data",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Audit Loading",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlSource",
									"sqlReaderStoredProcedureName": "[etl].[StageGenreRange]",
									"storedProcedureParameters": {
										"DataETLID": {
											"type": "Int32",
											"value": {
												"value": "@activity('Audit Loading').output.firstRow.DataETLID",
												"type": "Expression"
											}
										},
										"FileETLID": {
											"type": "Int32",
											"value": {
												"value": "@item().FileETLID",
												"type": "Expression"
											}
										},
										"FileName": {
											"type": "String",
											"value": {
												"value": "@item().FileName",
												"type": "Expression"
											}
										}
									}
								},
								"dataset": {
									"referenceName": "JBHIFI",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Load Data",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Staging Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlSource",
									"sqlReaderStoredProcedureName": "etl.LoadDimGenreRange"
								},
								"dataset": {
									"referenceName": "JBHIFI",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Delete Staging Data",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ETL].[StageDeleteGenreRange]",
								"storedProcedureParameters": {
									"FileETLID": {
										"value": {
											"value": "@item().FileETLID",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "JBHIFI",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Audit Complete",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Delete Staging Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[audit].[DataLoadHistoryUpdate]",
								"storedProcedureParameters": {
									"DataETLID": {
										"value": {
											"value": "@activity('Audit Loading').output.firstRow.DataETLID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ErrorRowCount": {
										"value": null,
										"type": "Int32"
									},
									"FileRowCount": {
										"value": {
											"value": "@activity('Staging Data').output.firstRow.varLoadRows",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"LoadRowCount": {
										"value": {
											"value": "@activity('Load Data').output.firstRow.varInsertedRows",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Status": {
										"value": {
											"value": "@pipeline().parameters.StatusComplete",
											"type": "Expression"
										},
										"type": "String"
									},
									"UpdateRowCount": {
										"value": {
											"value": "@activity('Load Data').output.firstRow.varUpdatedRows",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "JBHIFI",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Audit Failed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Audit Loading",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Audit Complete",
									"dependencyConditions": [
										"Skipped"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[audit].[DataLoadHistoryUpdate]",
								"storedProcedureParameters": {
									"DataETLID": {
										"value": {
											"value": "@activity('Audit Loading').output.firstRow.DataETLID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ErrorRowCount": {
										"value": null,
										"type": "Int32"
									},
									"FileRowCount": {
										"value": null,
										"type": "Int32"
									},
									"LoadRowCount": {
										"value": null,
										"type": "Int32"
									},
									"Status": {
										"value": {
											"value": "Failed",
											"type": "Expression"
										},
										"type": "String"
									},
									"UpdateRowCount": {
										"value": null,
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "JBHIFI",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Fail pipeline",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Audit Failed",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select 1/0"
								},
								"dataset": {
									"referenceName": "JBHIFI",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "Get Data To Process",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT distinct e.FileName, e.ID AS FileETLID \n FROM javastage.JBGenreRange d \nINNER JOIN audit.FileLoadHistory e ON e.ID = d.loadid\nWHERE e.Status = 'Completed'\nORDER BY e.FileName"
					},
					"dataset": {
						"referenceName": "JBHIFI",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"StatusRunning": {
				"type": "string",
				"defaultValue": "Running"
			},
			"StatusComplete": {
				"type": "string",
				"defaultValue": "Completed"
			},
			"ProcessLogID": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Main"
		},
		"annotations": []
	}
}