pipeline/PricingMain.json
{
	"name": "PricingMain",
	"properties": {
		"activities": [
			{
				"name": "Process Start",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "[adf].[ADFProcessLogInsert]",
						"storedProcedureParameters": {
							"ProcessGUID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"ProcessName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"Status": {
								"type": "String",
								"value": "Running"
							}
						}
					},
					"dataset": {
						"referenceName": "JBHIFI",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Check whether to Run pipeline",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Process Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(activity('Process Start').output.firstRow.ProcessLogID,  1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "File ETL",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "FileETL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"StatusRunning": "Running",
									"StatusReady": "Ready",
									"StatusComplete": "Completed",
									"AdfProcessLogID": {
										"value": "@int(activity('Process Start').output.firstRow.ProcessLogID)",
										"type": "Expression"
									},
									"CallingPipeLineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Data ETL",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "File ETL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "DataETLPricing",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"StatusRunning": "Running",
									"StatusComplete": "Completed",
									"AdfProcessLogID": {
										"value": "@int(activity('Process Start').output.firstRow.ProcessLogID)",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "ProcessFinish",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Check whether to Run pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[adfProcessLogUpdate]",
					"storedProcedureParameters": {
						"ProcessGUID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ProcessLogID": {
							"value": {
								"value": "@int(activity('Process Start').output.firstRow.ProcessLogID)",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Status": {
							"value": "Completed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "JBHIFI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Process Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Check whether to Run pipeline",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[adfProcessLogUpdate]",
					"storedProcedureParameters": {
						"ProcessGUID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ProcessLogID": {
							"value": {
								"value": "@int(activity('Process Start').output.firstRow.ProcessLogID)",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "JBHIFI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Fail pipeline",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Process Failed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select 1/0"
					},
					"dataset": {
						"referenceName": "JBHIFI",
						"type": "DatasetReference"
					}
				}
			}
		],
		"folder": {
			"name": "Pricing"
		},
		"annotations": []
	}
}